BobAnalysis/cache/[0-9]*/
BobAnalysis/cache/cell_specimens.json
BobAnalysis/cache/stimulus_mappings.json
BobAnalysis/cache/ophys_experiment_data/
BobAnalysis/cache/boc_manifest.json
BobAnalysis/cache/ophys_experiments.json
.idea
htmlcov
*.egg-info
.coverage
*.pyc
__pycache__
.gitignore~
.cache
.pydevproject
.project